.chats{
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;
}

.chats::-webkit-scrollbar {
    width: 8px;
}

.chats::-webkit-scrollbar-track {
    background: #1e1e1e;    /* dark grey */
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb {
    background: #3a3a3a;    /* slightly lighter grey */
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;    /* hover effect like ChatGPT */
}


.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}

.userMessage{
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs{
    border-radius: 14px !important;
}

pre{
    white-space: pre-wrap;
}